.hint {
  --primary-color: #0AA679;

  position: fixed;
  top: 24px;
  right: 24px;
  width: 320px;
  color: #333;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999999;
}

.hint * {
  color: inherit;
  font-size: inherit;
  background: initial;
}

.hint .hint-header {
  display: flex;
  padding: 12px 16px 20px;
}

.hint .hint-header .hint-name {
  color: var(--primary-color);;
  font-size: 16px;
  font-weight: 500;
}

.hint .hint-body {
  margin: 0 16px 16px;
}

/* 列表展示 */
.hint-list {
  margin-bottom: 12px;
  background-color: #f6ffed;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid var(--primary-color);
  box-shadow: 0 4px 0 var(--primary-color);
}

.hint-item {
  padding: 8px 16px;
}

.hint-item:hover {
  background-color: #dbe5d2;
}

.hint-item .hint-account {
  font-size: 14px;
}

.hint-item .hint-content {
  color: #999;
  font-size: 14px;
}

.hint-item #removePasswordHint {
  float: right;
  color: #999;
  cursor: pointer;
}

/* 提交表单 */
.hint-form {
  padding: 8px 16px;
  background-color: #f6ffed;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  box-shadow: 0 4px 0 var(--primary-color);
}

.hint-form input[type="text"] {
  margin-right: 8px;
  padding: 2px 4px;
  width: 100%;
  height: 28px;
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  border-radius: 0;
}

.hint-form input[type="text"] + input[type="text"] {
  margin-top: 8px;
}

.hint-form input::placeholder {
  color: #333;
}

.hint-form button {
  margin-top: 8px;
  padding: 2px 8px;
  height: 28px;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  border-radius: 4px;
}

.hint-form button:hover {
  position: relative;
  background-color: var(--primary-color);
}
.hint-form button:not(:disabled):hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: inherit;
}

.hint-form button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* 关闭按钮 */
.hint-icon-close {
  display: inline-block;
  margin-left: auto;
  position: relative;
  font-size: 24px;
  width: 1em;
  height: 1em;
  color: currentColor;
  cursor: pointer;
}

.hint-icon-close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.8em;
  height: 0.05em;
  background-color: currentColor;
  transform: translate(-50%, -50%) rotate(45deg);
}
.hint-icon-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.8em;
  height: 0.05em;
  background-color: currentColor;
  transform: translate(-50%, -50%) rotate(-45deg);
}
