.hint {
  --primary-color: #0AA679;

  position: fixed;
  top: 24px;
  right: 24px;
  width: 320px;
  color: #333;
  font-size: 14px;
  line-height: 1.5;
  background-color: #f2f8f6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 999999;
}

.hint * {
  color: inherit;
  font-size: inherit;
  background: initial;
}

.hint .hint-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px 16px;
}

.hint .hint-header .hint-name {
  color: var(--primary-color);;
  font-size: 16px;
  font-weight: 500;
}

.hint .hint-body {
  margin: 0 16px 16px;
  background-color: #fff;
  border-radius: 8px;
  /* border: 1px solid var(--primary-color); */
}

/* 列表展示 */
.hint-list {
  /* border-radius: 4px; */
  /* overflow: hidden; */
  /* box-shadow: 0 4px 0 var(--primary-color); */
}

.hint-item {
  padding: 8px 12px;
}

.hint-item .hint-account {
  font-size: 14px;
  font-weight: 600;
}

.hint-item .hint-content {
  color: #666;
  font-size: 12px;
}

.hint-item .hint-icon-remove {
  color: var(--primary-color);
}

#removePasswordHint {
  float: right;
  color: #666;
}

/* 提交表单 */
.hint-form {
  position: relative;
  padding: 8px 12px;
  /* background-color: #f6ffed; */
  /* border-radius: 4px; */
  /* border: 1px solid var(--primary-color);
  box-shadow: 0 4px 0 var(--primary-color); */
}

.hint-form input[type="text"] {
  /* padding: 2px 4px; */
  width: calc(100% - 24px);
  height: 21px;
  font-weight: 600;
  outline: none;
  background-color: transparent;
  border: none;
  /* border-bottom: 1px solid var(--primary-color); */
  border-radius: 0;
}

.hint-form input[type="text"] + input[type="text"] {
  height: 18px;
  font-size: 12px;
  font-weight: normal;
}

.hint-form input::placeholder {
  color: #999;
}

#addPasswordHint {
  float: right;
  color: #666;
}

/* #addPasswordHint:hover {
  background-color: var(--primary-color);
} */
/* #addPasswordHint:not(:disabled):hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: inherit;
} */

/* 关闭按钮 */
.hint-icon-close,
.hint-icon-remove,
.hint-icon-add {
  display: inline-block;
  position: relative;
  font-size: 20px;
  width: 1em;
  height: 1em;
  color: currentColor;
  cursor: pointer;
}

.hint-icon-close:not(.disabled):hover,
.hint-icon-remove:not(.disabled):hover,
.hint-icon-add:not(.disabled):hover {
  color: var(--primary-color) !important;
}

.hint-icon-close.disabled,
.hint-icon-remove.disabled,
.hint-icon-add.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.hint-icon-close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.8em;
  height: 0.05em;
  background-color: currentColor;
  transform: translate(-50%, -50%) rotate(45deg);
}
.hint-icon-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.8em;
  height: 0.05em;
  background-color: currentColor;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* 页脚 */
.hint-footer {
  margin: 16px 0;
  padding: 0 16px;
}

.hint-footer .hint-text {
  color: #666;
  font-size: 12px;
}

/* 移除图标 */
.hint-icon-remove,
.hint-icon-add {
  border: 0.05em solid currentColor;
  border-radius: 50%;
}
.hint-icon-remove::before,
.hint-icon-add::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.6em;
  height: 0.05em;
  background-color: currentColor;
  border-radius: 0.05em;
  transform: translate(-50%, -50%);
}

/* 添加图标 */
.hint-icon-add::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.05em;
  height: 0.6em;
  background-color: currentColor;
  border-radius: 0.05em;
  transform: translate(-50%, -50%);
}

/* 下划线动画 */
.bottom-line {
  position: relative;
}

.bottom-line::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  width: 0;
  bottom: 0;
  border-bottom: 1px solid var(--primary-color);
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.bottom-line:hover::before {
  width: 100%;
}
